* {
    margin: 0;
    font-family: 'Sacramento', 'Raleway', cursive;
    font-size: 16px;
}

h1{
    font-family: 'Montserrat';
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    color: white;
}